
<h2><label for="comment">Nueva Alerta Global</label></h2>

<div>
    <form action="/admin/module/global/alert", class="link" , method="POST">

        <div class="form-group">
            <textarea class="form-control" rows="5" id="message" name="message"></textarea>
        </div>

        <input type="submit" class="btn btn-primary" value="Enviar"/>
    </form>
</div>

<center>
    <form action="/admin/module">
        <input type="submit" class="btn btn-info" value="Volver"/>
    </form>

</center>
